<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr> <td>Before</td> <td><a href="{{ site.swc_pre_survey }}{{ site.github.project_title }}">Pre-workshop survey</a> </td> </tr>
      <tr> <td>09:30 - 10:00</td>  <td>Introduction and Ice-breaker</td> </tr>
      <tr> <td>10:00 - 12:30</td>  <td><a href="http://swcarpentry.github.io/shell-novice/">Automating tasks with the Unix shell (With Break)</a></td> </tr>
      <tr> <td>12:30 - 14:00</td>  <td>Lunch break</td> </tr>
      <tr> <td>14:00 - 17:00</td>  <td><a href="https://github.com/malvikasharan/software-carpentry-embl-2019">Building Blocks of Python Programming (With Break)</a></td> </tr>
      <tr> <td>17:00 - 17:30</td>  <td>Open Discussion</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr> <td>09:30 - 10:00</td>  <td>Recap from Day - 1</td> </tr>
      <tr> <td>10:00 - 12:30</td>  <td><a href="https://github.com/malvikasharan/software-carpentry-embl-2019">Building programs with Python - I (With Break)</a></td> </tr>
      <tr> <td>12:30 - 14:00</td>  <td>Lunch break</td> </tr>
      <tr> <td>14:00 - 16:00</td>  <td><a href="https://github.com/malvikasharan/software-carpentry-embl-2019">Building programs with Python II (With Break)</a></td> </tr>
      <tr> <td>16:00 - 17:00</td>  <td><a href="https://github.com/malvikasharan/developing_collaborative_document">Introduction to Version Control</a></td> </tr>
      <tr> <td>17:00 - 17:30</td>  <td>Open Discussion</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 3</h3>
    <table class="table table-striped">
      <tr> <td>09:30 - 10:00</td>  <td>Recap from Day - 2</td> </tr>
      <tr> <td>10:00 - 11:30</td>  <td><a href="http://swcarpentry.github.io/git-novice/">Using commandline git for version control (With Break)</a></td> </tr>
      <tr> <td>11:30 - 12:30</td>  <td>HPC Job Submission</td> </tr>
      <tr> <td>12:30 - 14:00</td>  <td>Lunch break</td> </tr>
      <tr> <td>14:00 - 16:30</td>  <td>Analysis Pipeline Management with Snakemake (With Break)</td> </tr>
      <tr> <td>16:30 - 17:00</td>  <td>Wrap-up & <a href="{{ site.swc_post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop Survey</a></td> </tr>
    </table>
  </div>
</div>
