<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr> <td>Before</td> <td><a href="{{ site.swc_pre_survey }}{{ site.github.project_title }}">Pre-workshop survey</a> </td> </tr>
      <tr> <td>09:40</td>  <td>Introduction and Ice-breaker</td> </tr>
      <tr> <td>10:00</td>  <td>Automating tasks with the Unix shell</td> </tr>
      <tr> <td>11:00</td>  <td>Coffee</td> </tr>
      <tr> <td>12:30</td>  <td>Lunch break</td> </tr>
      <tr> <td>14:30</td>  <td>Building programs with Python I</td> </tr>
      <tr> <td>15:30</td>  <td>Coffee</td> </tr>
      <tr> <td>17:30</td>  <td>Wrap-up</td> </tr>
      <tr> <td>18:00</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr> <td>09:40</td>  <td>Building programs with Python II</td> </tr>
      <tr> <td>11:00</td>  <td>Coffee</td> </tr>
      <tr> <td>12:30</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:30</td>  <td>Version control with Git</td> </tr>
      <tr> <td>14:30</td>  <td>Coffee</td> </tr>
      <tr> <td>17:15</td>  <td>Wrap-up</td> </tr>
      <tr> <td>17:45</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 3</h3>
    <table class="table table-striped">
      <tr> <td>09:40</td>  <td>Follow-up Session from Days 1 and 2</td> </tr>
      <tr> <td>11:00</td>  <td>Coffee</td> </tr>
      <tr> <td>11:15</td>  <td>HPC Job Submission</td> </tr>
      <tr> <td>12:30</td>  <td>Lunch break</td> </tr>
      <tr> <td>14:15</td>  <td>Analysis Pipeline Management with Snakemake</td> </tr>
      <tr> <td>15:00</td>  <td>Coffee</td> </tr>
      <tr> <td>16:30</td>  <td>Wrap-up & <a href="{{ site.swc_post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop Survey</a></td> </tr>
      <tr> <td>17:00</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
